.Footer {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    background-color: rgb(54, 48, 165);
  }
  
  .Footer-link {
    margin: 10px 20px;
    margin-top: 50px;
  }
  
